.processo{
    padding-bottom: 0.625rem;

    .box{
        width: fit-content;
        padding-top: 0;
        margin: 0.625rem auto 0 auto;

        .thumbnail{
            text-align: center;
        }
        .video_container{
            video{
                width: 190px;
            }  
        }
    }

}

@import '../../style/breakpoints.scss';

@include tablet-breakpoint{
    .processo{
        .box{

            .video_container{
                video{
                    width: 290px;
                }  
            }
        }
    }
}

@include desktop-breakpoint{
    .processo{
        display: flex;
        margin: 0 0.5rem;
    
        .box{

            .video_container{
                video{
                    width: 240px;
                }  
            }
        }
    }
}
