.processo{
    padding-bottom: 0.625rem;

    .box{
        width: fit-content;
        padding-top: 0;
        margin: 0.625rem auto 0 auto;

        .thumbnail{
            text-align: center;
        }
    }

}