@import '../../style/color.scss';
@import '../../style/font.scss';
@import '../../style/keyframes.scss';

.home{
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100%;

  &_background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1000;

    @media (min-width:1440px){
      width: 1440px;
    }
  
    background-image: url('../../assets/inicialPag/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250%;

    // para ajustar o background consoante o tamanho do ecra, para ser dinamico
    @media (max-width:700px){
      background-size: 300%;
    }
  
    @media (max-height:800px){
      background-size: 200%;
    }
  
    //mobile
    @media (max-width:425px){
      background-size: 350%;
    }
  }

  &_contacts{
    position: relative;
    width: 100%;
  
    //mobile
    @media (min-width:1440px){
      width: 1440px;
    }
  
    &_container{
      position: absolute;

      right: 0;
  
      z-index: 1000;
  
      background-image: url('../../assets/inicialPag/stick.svg');
  
      margin: 20px 10px;
      padding: 15px;
  
          
      //animation
      opacity: 0;
      animation: fadeInIcon 2s linear forwards 1s;
  
      //mobile
      @media (max-width:425px){
        margin: 10px 10px;
        padding: 10px 10px 5px 10px;
      }
    }
  
    svg{
      height: 40px;
      margin: 0 5px;
  
      cursor:pointer;
  
      @media (max-width:425px){
        height: 20px;
      }
    }
  
    &_facebook{
      //animation
      opacity: 0;
      animation: fadeInIcon 1s linear forwards 2.6s;
    }
  
    &_instagram{
      //animation
      opacity: 0;
      animation: fadeInIcon 1s linear forwards 2.4s;
    }
  
    &_mail{
      //animation
      opacity: 0;
      animation: fadeInIcon 1s linear forwards 2.2s;
    }
  
  }

  &_arrows{
    position: fixed;
    width: 100px;
    bottom: 0px;
    left: 50%;
  
    transform: translate(-50%, -50%);
  
    z-index: -100;
  
    //mobile
    @media (max-width:425px){
      bottom: 0px;
      width: 80px;
    }
  
    //animation
    opacity: 0;
    animation: 1s fadeInIcon 3s linear forwards, bounceIcon 2s ease-out infinite;
  }
}
