@font-face {
    font-family: 'Font1';
    src: url('../assets/font/Font1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font_extra_big:1.25rem;
$font_big: 1.125rem;
$font_normal: 1rem;
$font_small: 0.875rem;
$font_extra_small: 0.75rem;
